In [42]:
import numpy as np
import tensorflow as tf
import pandas as pd
import json
import decimal
import matplotlib.pyplot as plt
import requests
# libraries

In [10]:
tf.__version__, tf.test.gpu_device_name()
# GPU version

('2.5.0-dev20210314', '')

In [25]:
# what is json
# inbuilt python library
# 
json.__version__

'2.0.9'

In [86]:
# creating a python dictionary
data = {"Sub_ID":["1","2","3","4","5","6","7","8" ],
        "Name":["Erik", "Daniel", "Michael", "Sven",
                "Gary", "Carol","Lisa", "Elisabeth" ],
        "Salary":["723.3", "515.2", "621", "731", 
                  "844.15","558", "642.8", "732.5" ],
        "StartDate":[ "1/1/2011", "7/23/2013", "12/15/2011",
                     "6/11/2013", "3/27/2011","5/21/2012", 
                     "7/30/2013", "6/17/2014"],
        "Department":[ "IT", "Manegement", "IT", "HR", 
                      "Finance", "IT", "Manegement", "IT"],
        "Sex":[ "M", "M", "M", 
              "M", "M", "F", "F", "F"]}
# data
print(data,'\n')

# parsing to file
with open('data.json', 'w') as outfile:
    json.dump(data, outfile)

# pandas read
df = pd.read_json('data.json')
print(df)
df.set_index('Sub_ID', inplace=True)
df

{'Sub_ID': ['1', '2', '3', '4', '5', '6', '7', '8'], 'Name': ['Erik', 'Daniel', 'Michael', 'Sven', 'Gary', 'Carol', 'Lisa', 'Elisabeth'], 'Salary': ['723.3', '515.2', '621', '731', '844.15', '558', '642.8', '732.5'], 'StartDate': ['1/1/2011', '7/23/2013', '12/15/2011', '6/11/2013', '3/27/2011', '5/21/2012', '7/30/2013', '6/17/2014'], 'Department': ['IT', 'Manegement', 'IT', 'HR', 'Finance', 'IT', 'Manegement', 'IT'], 'Sex': ['M', 'M', 'M', 'M', 'M', 'F', 'F', 'F']}

   Sub_ID       Name  Salary   StartDate  Department Sex
0       1       Erik  723.30    1/1/2011          IT   M
1       2     Daniel  515.20   7/23/2013  Manegement   M
2       3    Michael  621.00  12/15/2011          IT   M
3       4       Sven  731.00   6/11/2013          HR   M
4       5       Gary  844.15   3/27/2011     Finance   M
5       6      Carol  558.00   5/21/2012          IT   F
6       7       Lisa  642.80   7/30/2013  Manegement   F
7       8  Elisabeth  732.50   6/17/2014          IT   F

             Name  Salary   StartDate  Department Sex
Sub_ID
1            Erik  723.30    1/1/2011          IT   M
2          Daniel  515.20   7/23/2013  Manegement   M
3         Michael  621.00  12/15/2011          IT   M
4            Sven  731.00   6/11/2013          HR   M
5            Gary  844.15   3/27/2011     Finance   M
6           Carol  558.00   5/21/2012          IT   F
7            Lisa  642.80   7/30/2013  Manegement   F
8       Elisabeth  732.50   6/17/2014          IT   F

In [81]:
# json can be converted to csv
df.to_csv("data.csv")

# csv can be converted back to json
df = pd.read_csv("data.csv")
df.to_json("data.json")

In [85]:
url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
# pandas can be used to read json
df.head()

# without pandas implementation

,api_url,api_docs,api_terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-05,1617580801,3.672500
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-05,1617580801,77.101002
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-05,1617580801,104.876770
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-05,1617580801,533.170000
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-05,1617580801,1.790000